*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1400px;
    /* display: flex; */
    height: 90vh;
}


/* background adding starts */

section::before{
    content: '';
    background: url('home4.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* background adding ends */



/* navbar styling starts*/

.navbar{
    position: sticky;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px 10px;
    background-color: #111;
    z-index: 1000;
    transition: 0.5s;
}


.navbar .logo{
    position: relative;
    left: 20px;
}
.navbar .logo img{
    height: 40px;
    width: 100px;
    
}

.navbar .logo .invert_color{
    filter: invert(100%);
}

.navbar .list{
    position: relative;
    display: flex;
    margin: auto;
}


.navbar .list li{
    
    list-style: none;
    padding: 10px 20px;
    
    
    
}

.navbar .list li a{
    position: relative;
    color: #aaa;
    transition: all 0.2s ease-in-out;
}

.navbar .list li a:hover{
    color: #fff;
}

.navbar .appoint{
    color: #aaa;
    padding: 15px 20px;
    cursor: pointer;
    border: 1px solid #aaa;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.navbar .appoint:hover{
    color: #fff;
    border-color: #fff;
}

/* navbar styyling ends */

/* homepage styling starts */

.home-content .content{
    position: relative;
    width: 55%;
    left: 8%;
}

.home-content .motive{
    font-size: 100px;
    font-weight: 500;
    color: #fff;
    margin-top: 3%;
    margin-left: 8%;
    padding: 20px 30px;
}

.home-content .motive span{
    color: orangered;
}

.home-content p{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-left: 12%;
    margin-right: 20%;
    padding: 4px 8px;

}

.home-content .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    color: rgb(253, 252, 252);
    background-color: orangered;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid orangered;
    border-radius: 8px;
    margin: 30px 40px;
    margin-left: 12%;
    transition: all 0.3s ease-in-out;
}
.home-content .button a{
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.home-content .button:hover{
    color: orangered;
    border-color: orangered;
    background-color: transparent;
    cursor: pointer;
}
.home-content .button:hover a{
    color: orangered;
}


.home-content .navbar1{
    position: fixed;
    display: flex;
    z-index: 1000;
    width: 10%;
    margin-left: 75%;
}


.home-content .navbar1 .login{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    margin-left: 88%;
    font-size: 25px;
    font-weight: 500;
    padding: 15px 20px;
    width: 200px;
    height: 50px;
    border: 2px solid #aaa;
    border-radius: 8px;
    box-shadow: 3px 3px 18px #fff;
    z-index: 1000;
    transition: all 0.2s ease-in-out;
}
.home-content .navbar1 .login a{
    color: #aaa;
}

.home-content .navbar1 .login:hover{
    color: #fff;
    border-color: #fff;
    cursor: pointer;
}
.home-content .navbar1 .login:hover a{
    color: #fff;
}



/* homepage styling ends */


/* about page styling starts */


.about{
    background-color: rgb(56, 53, 53);
}

.about .about-content{
    display: flex;
    /* position: relative; */

}

.about .about-content .left{
    width: 45%;
    margin-top: 6%;
    margin-left: 10%;
}

.about .about-content .left .heading{
    color: orangered;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 30px;
}

.about .about-content .left .mtext{
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    padding: 20px 30px;
}

.about .about-content .left .mtext span{
    color: orangered;
}

.about .about-content .left .small{
    font-size: 15px;
    font-weight: 500;
    color: orangered;
    padding: 20px 30px;
}

.about .about-content .left .medium{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    padding: 40px 30px;
}

.about .about-content .left .button{
    display: flex;
    align-items: center;
    width: 200px;
    height: 60px;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: orangered;
    border: 2px solid orangered;
    margin-top: 20px;
    margin-left: 5%;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.about .about-content .left .button:hover{
    color: orangered;
    background-color: transparent;
    cursor: pointer;
}

.about .about-content .right{
    width: 45%;
    margin-top: 7%;
    /* margin-right: 4%; */
}

.about .about-content .right img{
    position: relative;
    margin-left: 30%;
    height: 500px;
    width: 400px;
    /* border: 1px solid orangered; */
    border-radius: 8px;
    box-shadow: 7px 7px 16px orangered;
    
    object-fit: cover;
}

/* about page styling ends */

/* events page styling starts */

.events{
    background-color: rgb(28, 26, 26);
}

.events .max-width{
    display: flex;
    flex-direction: column;
    height: 105vh;
}

.heading1{
    font-size: 30px;
    font-weight: 600;
    margin-left: 10%;
    margin-top: 9vh;
    color: #fff;
    padding: 20px 30px;

}

.serv-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5%;
   
}

.serv-content .card{
    height: 450px;
    width: 300px;
    margin-top: 9vh;
    margin-left: 10vh;
    align-items: center;
    box-shadow: 2px 2px 17px rgb(191, 188, 188);
    transition: all 0.3s ease-in-out;


}



.serv-content .card .box img{
    height: 200px;
    width: 100%;
    object-fit: cover;

}

.serv-content .card .box .heading2{
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.serv-content .card .box p{
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.serv-content .card .box .button1{
    font-size: 15px;
    height: 6vh;
    width: 18vh;
    font-weight: 500;
    padding: 30px 10px;
    color: orange;
    cursor: pointer;
}

.serv-content .card .box .button1:hover{
    color: rgb(244, 199, 114);
}



.serv-content .card:hover{
    transform: scale(1.06);
    box-shadow: 2px 2px 24px rgb(78, 77, 77);
}

.button3{
    margin-top: 60px;
    margin-left: 12%;
    color: #aaa;
    padding: 30px 10px;
    border: 2px solid #aaa;
    height: 30px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button3:hover{
    color: #fff;
    border-color: #fff;
    
}

/* events page ends */

/* gallery page starts */

.gallery{
    display: flex;
    background-color: rgb(52, 46, 46);
}

.gallery .max-width{
    width: 100%;
    height: 220vh;
}

.heading3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
    margin-left: 20vh;
    margin-top: 6vh;
    color: #fff;
    padding: 20px 30px;

}

.gallery-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

}

.gallery-content .card{
    /* height: 500px; */
    max-width: 400px;
 
    
    width: 100%;
    object-fit: cover;
    margin: 10px 20px;
    border-radius: 8px;
}

.gallery-content .card img{
    object-fit: cover;
    width: 100%;
    height: 600px;
    border-radius: 8px;
}

.gallery-content #card1,#card5,#card7,#card9{
    height: 600px;

}


.gallery-content #card2,#card4,#card6,#card8{
    height: 250px;
    
}


.gallery-content #card3{
    height: 550px;
    
}

.gallery-content .card #img1,#img5,#img7,#img9{
    height: 600px;
}

.gallery-content .card #img2,#img4,#img6,#img8{
    height: 250px;
}

.gallery-content .card #img3{
    height: 550px;
}

.gallery-content #card5{
    margin-top: -300px;
}

/* gallery page ends */

/* contact page starts */

.contact .max-width{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact{
    display: flex;
    background-color: rgb(28, 26, 26);
}

.heading4{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin-left: 20vh;
    margin-top: 10vh;
    padding: 20px 30px;
}

.contact .contact-content{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.contact .contact-content .left{
    width: 50%;
    margin: auto;
    color: #fff;
}

.contact .contact-content .right{
    width: 45%;
    margin: auto;
    /* margin-right: 10px; */
}


.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}
.contact .contact-content .left p{
    font-size: 20px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;

}
/* .contact .contact-content .row i{
    font-size: 25px;
    color: crimson;

} */
.contact .contact-content .info .head{
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
    margin-left: 50px;
    padding: 10px 0px;

}
.contact .contact-content .info .sub-title{
    font-size: 15px;
    color: yellow;
    margin-left: 50px;
    padding-bottom: 10px;
}

.contact .right form .field{
    display: flex;

}
.contact .right form .field, .contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;

}
.contact .right form .textarea{
    height: 80px;
    width: 100%;

}
.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-right: 10px;
}
.contact .right form .field input, .contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;

}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid orangered;
    background: orangered;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: orangered;
    background: none;
}


/* contact section ends */

/*footer section styling*/

footer{
    background: #111;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
    margin-top: 2px;

}
footer span a{
    color: orangered;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* footer section ends */